<?xml version="1.0" encoding="UTF-8"?>

<launch>
        <arg name="v" default="0.7"/> <!--Defineix el valor dels parametres-->
        <arg name="w" default="1"/>
        <arg name="d" default="7"/>
        <arg name="t" default="2"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"/> <!--defineix els package i els nodes-->
    <node pkg="turtlesim_tutorial" type="move_time.py" name="move_turtle" output="screen" >
        <param name="v" value="$(arg v)"/>
        <param name="w" value="$(arg w)"/>
        <param name="d" value="$(arg d)"/>
        <param name="t" value="$(arg t)"/>
    </node>
</launch>